In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:14pt;}
div.text_cell_render.rendered_html{font-size:14pt;}
div.output {font-size:14pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:14pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:14pt;padding:5px;}
table.dataframe{font-size:14px;}
</style>
"""))

<b><font size="7" color="red">ch02. 자료형과 연산자</font></b>

# 5절. 연산자
## 5.1 산술연산자 : +,-,*,/(결과float),//(몫),%(나머지),**(제곱)

In [2]:
print("10*5승=", 10**5)
print("4/2(결과실수)=", 4/2)
print("5//2(몫)=", 5//2)
print("5%2(나머지)=", 5%2)

10*5승= 100000
4/2(결과실수)= 2.0
5//2(몫)= 2
5%2(나머지)= 1

In [3]:
# 정수끼리 연산은 결과가 정수(단 / 제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2=", 4**2.0)

4**2= 16.0

In [4]:
# quiz1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
result = num % 2 # -1, 0, 1
if result:
    temp ="홀수"
else:
    temp = "짝수"
print(f"입력하신 수는{num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다")

정수를 입력하세요:9
입력하신 수는9, 2로 나눈 나머지는 1라서 홀수를 입력하셨습니다

In [5]:
# quiz2. 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
if num%5:
    print("5의 배수가 아닙니다")
else:
    print("5의 배수 입니다")

정수를 입력하세요:47
5의 배수가 아닙니다

In [6]:
# quiz3.  국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
# 국어 : 99    영어 : 100    수학 : 100
# 합계 : 299   평균 : 99.7
kor = int(input("국어?"))
eng = int(input("영어?"))
mat = int(input("수학?"))
sum = kor + eng + mat
avg = sum / 3

국어?60
영어?70
수학?50

In [7]:
print("국어 : {:3d}\t영어 : {:3d}\t수학 : {:3d}".format(kor, eng, mat))
print("총점 : {:3d}\t평균 : {:5.1f}".format(sum, avg))

국어 :  60	영어 :  70	수학 :  50
총점 : 180	평균 :  60.0

## 5.2 할당연산자 : =, +=, -=, /=, *=, //=, %=

In [8]:
a = 10
a += 5 # a = a +5와 동일
print(f"a = {a}")

a = 15

In [9]:
a -= 5 # a = a - 5
print("5빼기 :", a) #10
a *= 10 # a = a * 5
print("10배 :", a) #10
a //= 5 # a = a // 5
print("5나눈 몫 :", a)

5빼기 : 10
10배 : 100
5나눈 몫 : 20

## 5.3 논리연산자 : &, and, |, or, not

In [16]:
# & : 논리연산자, 비트연산자
print( (10>3) & (10>5) ) # 논리연산 True & True
print( 12 & 1 ) # 비트 연산 1 1 0 0 (12)
                       #    0 0 0 1 (1)
                       #    0 0 0 0

True
0

In [21]:
# and : 논리연산자. False로 판별되는 첫번째 항의 결과 반환
        # 모든항이 True면, 마지막항의 결과 반환
print( (10>3) and (10>5) )
print( 0 and 1 )

True
0

In [25]:
# | : 논리연산, 비트연산
result = True | False
print('논리연산(연산자 앞뒤에 논리형일 때):', result)
result = False | 3 # 0000 (0)
                   # 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때):', result)

논리연산(연산자 앞뒤에 논리형일 때): True
비트연산(연산자 앞이나 뒤에 숫자일 때): 3

In [27]:
# or : 논리연산. 참으로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 거짓으로 판명되면
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])

[]
Hong

In [28]:
not 10>5

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다),  !=(다르다)

In [33]:
# 비교연산자는 이항, 삼항, 사항, ... 다항연산자
x = 95
print( (90<=x) & (x<=100) )
print( 90 <= x <= 100 )
print( 90<= x <= 100>10 )

True
True
True

In [36]:
# 비교연산자의 우선순위가 비트연산자(|, &)의 우선순위보다 낮다
print( (10>5) & (10>7) )
print( 10>5 & 10>7 ) # 괄호가 없으면 우선순위가 높은 5&10부터 실행
print( 10 > 0 >7 )
# 0101(5) & 1010(10)

True
False

In [41]:
address = "목동"
# print( address=="목동" & age<=30 )
print( (address=="목동") & (age<=30) )
print( address=="목동" and age<=30 )

True
True

In [43]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소무자(abc순)
"scott" < "tiger"

True

In [42]:
"김길동" < "홍길동"

True

## 5.5 비트연산 : &, |, ^(XOR), ~(반대)

```
x     y    x&y   x|y   x^y   ~x
--------------------------------
0     0     0     0     0     1
0     1     0     1     1     1
1     0     0     1     1     0
1     1     1     1     0     0

```

In [8]:
a = 15 # 1111(8+4+2+1)
b =  2 # 0010
print("  a = {0:2} : {0:04b}".format(a))
print("  a = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:4b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))

  a = 15 : 1111
  a =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101

# 6절 문자열 다루기
- 문자열변수[from:to:step] : 일부 문자 추출
- len(문자열변수) : 문자수

- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 앞글자만 대문자로
- capitallize() : 첫문자만 대문자로
- count("찾을문자") : "찾을문자"가 몇개들어있는지 갯수 반환
- find("찾을문자") : "찾을문자"가 가 왼쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)
- rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)
  
  cf. index("찾을문자") : "찾을문자"가 가 왼쪽부터 몇번째에 있는지 index를 반환 (없으면 에러)

- startswith("특정문자") : "특정문자"로 시작하는지 여부 반환  
- endswith("특정문자") : "특정문자"로 끝나는지 여부 반환   
  
- strip() : 좌우공백제거(trim)
- lstrip() : 왼쪽공백제거
- rstrip() : 오른쪽공백제거
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
- isdigit() : 문자열이 숫자문자열인지 여부 반환
- islower() : 문자열이 소문자인지 여부 변환
- isupper() : 문자열이 대문자인지 여부 변환
- replace(oldstr, newstr) : oldstr을 newstr로 변경

In [11]:
temp = "python is easy. python is smart. python"
temp, len(temp)

('python is easy. python is smart. python', 39)

In [43]:
temp = "python is easy. Python is smart. python"
    # 0123456789012345678901234567890123
print("대문자로 :", temp.upper())
print("소문자로 :", temp.lower())
print("title:", temp.title())
print("capitalize :", temp.capitalize())
print("C가 몇번 나오는지", temp.count("C"))
print("python이 몇번 나오는지", temp.count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.lower().count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 몇번 :", temp.title().count("Python"))
print("python이 나오는 첫 index 위치 :", temp.find("python"))
print("python이 나오는 마지막 index 위치 :", temp.rfind("python"))
print("C가 나오는 첫 index 위치 :", temp.find("C")) # 찾을문자가 없을 경우 -1
print("python이 나오는 첫 index 위치 :", temp.index("python"))
# print("java이 나오는 첫 index 위치 :", temp.index("java")) 찾을문자가 없을 경우 에러
print("python으로 시작하는지여부 :", temp.startswith("python"))
print("대소문자 구분없이 python으로 시작하는지여부 :", temp.lower().startswith("python"))
print("n으로 끝나는지여부 :", temp.endswith("n"))
print("python을 R로 변경 :", temp.replace("python","R"))
print(temp)

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
title: Python Is Easy. Python Is Smart. Python
capitalize : Python is easy. python is smart. python
C가 몇번 나오는지 0
python이 몇번 나오는지 2
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
python이 나오는 첫 index 위치 : 0
python이 나오는 마지막 index 위치 : 33
C가 나오는 첫 index 위치 : -1
python이 나오는 첫 index 위치 : 0
python으로 시작하는지여부 : True
대소문자 구분없이 python으로 시작하는지여부 : True
n으로 끝나는지여부 : True
python을 R로 변경 : R is easy. Python is smart. R
python is easy. Python is smart. python

In [56]:
temp = "    python is easy    "
notdigit = "1,000"
print("좌우 공백 제거 :",temp.strip())
print("좌우 공백 제거 : [{}]".format(temp.strip()))
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()))
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()))
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit())
print("replace후 isdigit :", notdigit.replace(",","").isdigit())
print("대문자인지 여부 :", temp.isupper())
print("소문자인지 여부 :", temp.islower())

좌우 공백 제거 : python is easy
좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy    ]
오른쪽 공백 제거 : [    python is easy]
isdigit(숫자문자)인지 여부 : False
replace후 isdigit : True
대문자인지 여부 : False
소문자인지 여부 : True

In [58]:
names = "홍길동 김길동       박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names 분리(list) :",names.split())
print(name_list[0], name_list[1])

space단위로 names 분리(list) : ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동

In [65]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :",date_list[0])
print("월 :",date_list[1])
print("일 :",date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [69]:
# str_ = "ABC"
str = ['A','B', 'C']
str_[0], str[1], str_[2]

('A', 'B', 'C')

In [73]:
# ' - '을 "/"로 바꾸기
temp ="Python - (HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML - LLM(RAG)"
# temp.replace(" - ","/")
# split()와 join() 이용하여 replace역할
splited_temp = temp.split(" - ")
print("분리된 temp :",splited_temp)
joined_temp = "/".join(splited_temp) #"/"매개변수 list를 연결
print("join temp :", joined_temp)

분리된 temp : ['Python', '(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML', 'LLM(RAG)']
join temp : Python/(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML/LLM(RAG)

In [74]:
# 문자열을 다룰 수 있는 함수들 목록
dir(str)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# 7절. 시간,날짜 다루기

In [76]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [1]:
# datetime모듈(datetime.py)안의 datetime, date, time만 load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [2]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025,9,11,9,30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [5]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H;%M,%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H;%M,%S"))
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 convert

25년09월11일(Thursday) 09;30,00
25년09월11일(Thursday) 09;30,00
Thu Sep 11 09:30:00 2025

In [20]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%Y년%M월%d일 %p %I:%M:%S"))

2025-09-17 14:30:10.671419
Wed Sep 17 14:30:10 2025
2025년30월17일 PM 02:30:10

In [15]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 4:53:18.842563
6

## 7.2 날짜

In [18]:
# 특정한 날짜를 갖는 data 객체 생성
someday = date(2025, 9, 11)
someday

datetime.date(2025, 9, 11)

In [19]:
print(someday)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

2025-09-11
2025년 09월 11일 00:00

In [21]:
# 오늘을 갖는 data 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [23]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

2025년09월17일 00:00
2025년09월17일 00:00

In [26]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간

In [27]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [31]:
print(t.strftime("%p %I:%M"))

PM 02:39

In [33]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:44:07.939644

# 8절. 연습문제

In [2]:
# 1. [출력형식 : 홍길동님의 나이는 23 살입니다]
name = "홍길동"
age = 23
print("{}님의 나이는 {}살입니다".format(name,age))
print(f'{name}님의 나이는 {age}살입니다")
print(name + '님의 나이는', str(age) + '살입니다')
print("%s님의 나이는 %d살입니다"%(name,age))

SyntaxError: unterminated string literal (detected at line 5) (1758892413.py, line 5)

In [1]:
# 2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
num1 = int(input('첫번째 수'))
num2 = int(input('두번째 수'))
print('num1 + num2 =', (num1+num2))
print('num1 - num2 =', (num1-num2))
print('num1 * num2 =', (num1*num2))
print('num1 / num2 =', (num1/num2))
print('num1 // num2 =', (num1//num2))
print('num1 % num2 =', (num1%num2))

첫번째 수10
두번째 수5
num1 + num2 = 15
num1 - num2 = 5
num1 * num2 = 50
num1 / num2 = 2.0
num1 // num2 = 2
num1 % num2 = 0

In [1]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello 가 할당된 변수를 이용하여 ‘World'로 출력하세요
names = "Hello  World"
name_list = names.split()
print("space단위로 names 분리(list) :",names.split())
print(name_list[1],name_list[0])

space단위로 names 분리(list) : ['Hello', 'World']
World Hello

In [5]:
# 4. x = 'abcdef'를 이용하여 'bcdefa' 로 출력하세요 (문자 슬라이싱이용)
x = 'abcdef'
print(x[1:6]+x[0])

bcdefa

In [91]:
# 5. x = 'abcdef'를 이용하여 'fedcba' 로 출력하세요
print(str_[::-1])

fedcba

In [ ]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 .
c = int(input("섭씨 온도를 입력하세요"))
f = (c*1.8) + 32
print("입력하신 섭씨 {}도는 화씨온도{:.2f}도입니다}".format(c,f))

In [ ]:
# 7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오
# ① for  ② 10th  ③ Student.name  ④ _1234

# 1, 2, 3

In [2]:
# 8. 코드의 실행결과
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])

SeounSeoul